@model Domain_Layer.DTO.ProfileScreenDTO

@{
    ViewBag.Title = "Mi perfil";
}

@Styles.Render("~/Content/website/profile_screen.css")

<div class="row">
    <div class="col">
        <input type="file" accept="image/jpeg,image/png" id="headerFile" class="d-none" />
        <img class="profile_screen-header" src="@Model.ProfileInformation.ProfileHeader" alt="header_background" />
        <label for="headerFile" class="btn btn-sm btn-primary forHeader" title="Cambiar la imágen de cabecera"><i class="far fa-edit"></i></label>
    </div>
</div>
<hr class="border-secondary" />
<div class="row">
    <div class="col">
        <div class="profile_screen-trends">
            <h5>
                @if (Model.TopTrendings.Count > 0)
                {
                    foreach (var trending in Model.TopTrendings)
                    {
                        <a class="mr-3" href="@Url.Action("Hashtag", "Home", new { name = trending.Name })">@trending.Name</a>
                    }
                }
                else
                {
                    <span>No hay tendencias en este momento <i class="far fa-frown-open"></i></span>
                }
            </h5>
        </div>
    </div>
</div>
<hr class="border-secondary" />
<div class="row">
    <div class="col-md-4 text-center">
        <div class="row">
            <div class="col">
                <input type="file" accept="image/jpeg,image/png" id="avatarFile" class="d-none" />
                <img class="profile_screen-avatar" src="@Model.ProfileInformation.ProfileAvatar" alt="avatar" />
                <label for="avatarFile" class="btn btn-sm btn-outline-primary forAvatar" title="Cambiar la imágen de perfil"><i class="far fa-edit"></i></label>
            </div>            
        </div>
        <div class="row mt-3">
            <div class="col">
                <h3>@Model.ProfileInformation.NickName</h3>
                <h5>@Model.ProfileInformation.UserName</h5>                
            </div>
        </div>
        @if (Domain_Layer.ActiveSession.GetPersonID() != Model.ProfileInformation.PersonID)
        {
            if (Model.Following)
            {
                <div class="row mt-3">
                    <button type="button" class="btn btn-block btn-danger follow-btn" data-follow="@Model.ProfileInformation.PersonID">Dejar de seguir</button>
                </div>                
            }
            else
            {
                <div class="row mt-3">
                    <button type="button" class="btn btn-block btn-success follow-btn" data-follow="@Model.ProfileInformation.PersonID">Seguir</button>
                </div>
            }
        }        
        <div class="row mt-3">
            <div id="profileDetails" class="col">                
                <p id="personDescription" class="text-muted mt-2">
                    <i class="far fa-comment-dots"></i>
                    @if (!string.IsNullOrEmpty(Model.ProfileInformation.PersonalDescription))
                    {
                        <span>@Model.ProfileInformation.PersonalDescription</span>
                    }
                    else
                    {
                        <span><i>Descripción...</i></span>
                    }
                </p>                                
                <p id="websiteUrl" class="text-muted">
                    <i class="fas fa-link"></i>
                    @if (!string.IsNullOrEmpty(Model.ProfileInformation.WebSiteURL))
                    {
                        <a href="@Model.ProfileInformation.WebSiteURL">@Model.ProfileInformation.WebSiteURL</a>
                    }
                    else
                    {
                        <a><i>Sitio web...</i></a>
                    }
                </p>                                
                <p id="birthday" class="text-muted">
                    <i class="fas fa-birthday-cake"></i>
                    @if (!string.IsNullOrEmpty(Model.ProfileInformation.Birthdate))
                    {
                        <span> @Model.ProfileInformation.Birthdate</span>
                    }
                    else
                    {
                        <span><i>Fecha de cumpleaños...</i></span>
                    }
                </p>
                <p class="text-muted"><i class="far fa-calendar-alt"></i> Se unió en @Model.ProfileInformation.RegistrationDate.ToString("y")</p>
                @if (Domain_Layer.ActiveSession.GetPersonID() == Model.ProfileInformation.PersonID)
                {
                    <button id="editDetails" type="button" class="btn btn-outline-primary">Editar</button>
                }
                else
                {
                    <button id="manageUserInList" type="button" class="btn btn-info" data-profileid="@Model.ProfileInformation.PersonID" data-isopen="false">Agregar/eliminar de lista <i class="fas fa-caret-down"></i></button>                    
                }
            </div>
        </div>        
    </div>
    <div class="col-md-8">
        <div class="row mb-3">
            <div class="col">
                <ul id="profileScreen-nav" class="nav nav-pills" data-tab="@ViewBag.Tab">
                    <li class="nav-item mr-1">
                        <a class="nav-link" href="@Url.Action("ProfileScreen", "Account", new { id = Model.ProfileInformation.PersonID })">Posts <span class="badge badge-primary badge-pill">@Model.StatisticsBar.PostsCount</span></a>
                    </li>
                    <li class="nav-item mr-1">
                        <a class="nav-link" href="@Url.Action("ProfileScreen", "Account", new { v = "following" })">Siguiendo <span class="badge badge-primary badge-pill">@Model.StatisticsBar.FollowingCount</span></a>
                    </li>                    
                    <li class="nav-item mr-1">
                        <a class="nav-link" href="@Url.Action("ProfileScreen", "Account", new { v = "followers" })">Seguidores <span class="badge badge-primary badge-pill">@Model.StatisticsBar.FollowersCount</span></a>
                    </li>
                    <li class="nav-item mr-1">
                        <a class="nav-link" href="@Url.Action("ProfileScreen", "Account", new { v = "likes" })">Me gusta <span class="badge badge-primary badge-pill">@Model.StatisticsBar.LikesCount</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("ProfileScreen", "Account", new { v = "lists" })">Listas <span class="badge badge-primary badge-pill">@Model.StatisticsBar.ListsCount</span></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col">
                @switch ((string)ViewBag.Tab)
                {
                    case "following":

                        if(Model.Followings.Count > 0)
                        {
                            <div class="row">
                                @foreach (var follow in Model.Followings)
                                {
                                    <div class="col-md-4">
                                        <div class="card mb-3">
                                            <div class="card-body text-center">
                                                <img class="post-profile-img" src="@follow.ProfileAvatar" alt="image_profile" />
                                                <h5 class="card-title mt-2 mb-2">@follow.NickName</h5>
                                                <a href="@Url.Action("ProfileScreen", "Account", new { id = follow.PersonID })" class="text-muted"><h6>@follow.UserName</h6></a>
                                                <small class="card-text mt-3 mb-2 d-block">@follow.Description</small>                                                
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <a href="@Url.Action("ProfileScreen", "Account", new { id = follow.PersonID, v = "following" })" class="text-muted d-block"><small>@follow.FollowingCount siguiendo</small></a>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <a href="@Url.Action("ProfileScreen", "Account", new { id = follow.PersonID, v = "followers" })" class="text-muted d-block"><small>@follow.FollowersCount seguidores</small></a>                                                
                                                    </div>
                                                </div>
                                                @if (Domain_Layer.ActiveSession.GetPersonID() == Model.ProfileInformation.PersonID)
                                                {
                                                    <button class="btn btn-danger mt-3 follow-btn" data-follow="@follow.PersonID">Dejar de seguir</button>
                                                }                                                
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        }
                        else
                        {
                            @Html.Partial("~/Views/Account/_EmptyCard.cshtml")
                        }
                        break;

                    case "followers":

                        if (Model.Followers.Count > 0)
                        {
                            <div class="row">
                                @foreach (var follower in Model.Followers)
                                {
                                    <div class="col-md-4">
                                        <div class="card mb-3">
                                            <div class="card-body text-center">
                                                <img class="post-profile-img" src="@follower.ProfileAvatar" alt="image_profile" />
                                                <h5 class="card-title mt-2 mb-2">@follower.NickName</h5>
                                                <a href="@Url.Action("ProfileScreen", "Account", new { id = follower.PersonID })" class="text-muted"><h6>@follower.UserName</h6></a>
                                                <small class="card-text mt-3 mb-2 d-block">@follower.Description</small>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <a href="@Url.Action("ProfileScreen", "Account", new { id = follower.PersonID, v = "following" })" class="text-muted d-block"><small>@follower.FollowingCount siguiendo</small></a>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <a href="@Url.Action("ProfileScreen", "Account", new { id = follower.PersonID, v = "followers" })" class="text-muted d-block"><small>@follower.FollowersCount seguidores</small></a>
                                                    </div>
                                                </div>
                                                @if (Domain_Layer.ActiveSession.GetPersonID() == Model.ProfileInformation.PersonID)
                                                {
                                                    if (follower.Following)
                                                    {
                                                        <button class="btn btn-danger mt-3 follow-btn" data-follow="@follower.PersonID">Dejar de seguir</button>
                                                    }
                                                    else
                                                    {
                                                        <button class="btn btn-success mt-3 follow-btn" data-follow="@follower.PersonID">Seguir</button>
                                                    }
                                                }
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        }
                        else
                        {
                            @Html.Partial("~/Views/Account/_EmptyCard.cshtml")
                        }
                        break;

                    case "likes":

                        @Html.Partial("~/Views/Account/_PostSection.cshtml", Model.LikesSection)                        

                        break;

                    case "lists":
                        if (Domain_Layer.ActiveSession.GetPersonID() == Model.ProfileInformation.PersonID)
                        {
                            <button type="button" class="btn btn-block btn-outline-primary mb-2" data-toggle="modal" data-target="#myListModal"><i class="fas fa-plus"></i> Agregar nueva lista</button>
                        }

                        if (Model.MyLists.Count > 0)
                        {
                            <div class="list-group">
                                @foreach (var list in Model.MyLists)
                                {
                                    <a href="@Url.Action("ListScreen", "Account", new { id = list.MyListID })" class="list-group-item list-group-item-action flex-column align-items-start">
                                        <div class="d-flex w-100 justify-content-between">
                                            <h5 class="mb-1">@list.Name</h5>                                            
                                        </div>
                                        <p class="mb-1">@list.Description</p>
                                        <small>@list.MembersCount miembros</small>
                                    </a>
                                }
                            </div>
                        }
                        else
                        {
                            @Html.Partial("~/Views/Account/_EmptyCard.cshtml")
                        }                        

                        @Html.Partial("~/Views/Account/_CreateList.cshtml", new Domain_Layer.DTO.ListDTO())

                        break;

                    default:
                        @Html.Partial("~/Views/Account/_PostSection.cshtml", Model.PostsSection)
                        break;
                }
            </div>
        </div>

        
    </div>
</div>

@section scripts {
        @Scripts.Render("~/Scripts/account/profileScreen.js")
    }